body{background-color:#af6}

p.style {
    text-indent: 48px;
	text-align: center;
}
p.button {
	
    
	text-align: center;
	
}

form.cuadro{
	width: 400px;
}

table.prod td, tr{
    padding: 70px;
}

h1.title {
    font-size: 20pt;
    text-align: center;
    color: black;
}


hr {
    height: 40px; 
    border-style: groove;
    border-color: blue;
    border-width: 5px 0 0 0;
   }