body{background-color:lightyellow}
body header{text-align:center;font-size:14pt}
section header{text-align:left;font-size:12pt}
.normal{font-size:14pt;text-align:justify}
article h1,h2{color:#00f;font-size:14pt;font-weight:700}
ol{list-style-type:upper-roman}
.special{font-size:13pt;color:black;font-weight:700;font-style:italic}
.center{text-align:center}
table{
    margin-left: auto;
    margin-right: auto;
}

p.buttons{
    text-align: center;
    color: red;
}
img{
    width: 400px;
    height: 400px;
}
h1.s {
    color: darkblue;
    opacity: 0.5;
}

h1.s:hover {
    opacity: 1;
}


div.intB{
   color:blue;
   margin-left:1em
}



#div1 {
    width:60px;
    height:60px;
    background-color:white;
    padding:10px;
    border:1px solid black;
}
h1.tic{
    text-align:left;
    font-size:14pt;
    color: blue;
}
